body {
  background-color: #6a1b9a;
  font-family: "Commissioner", sans-serif;
  text-align: center;
}

header {
  color: aliceblue;
}

h2 {
  color: aliceblue;
  font-size: 20px;
  margin: 5px;
}

.select-box {
  font-size: 15px;
  margin: 5px;
  padding: 6px;
  border-width: 4px;
  border-color: #7b1fa2;
  outline: none;
}

.error {
  border-color: #e91e63;
}

#show-animal {
  background-color: #9c27b0;
  color: white;
  height: 80px;
  width: 85px;
  border-radius: 50%;
  border-style: solid;
}

#show-animal:hover {
  background-color: #ab47bc;
}

#current-image {
  max-height: 300px;
  border-radius: 2%;
  margin: 15px;
  border: 4px;
  border-style: outset;
}

footer {
  background-color: white;
}

h3 {
  padding: 20px;
  font-size: 22px;
}

p {
  color: white;
  margin-bottom: 50px;
}

.favContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.favItem {
  background-color: #9c27b0;
  display: flex;
  width: 300px;
  height: 300px;
  font-size: 40px;
  margin: 10px;
}

.favItem img {
  margin: auto;
  max-width: 280px;
  max-height: 280px;
}
